<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
  <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <header class="container bg-dark vh-100 d-flex justify-content-center align-items-center">
      <img src="/img/jaba.png" alt="" class="w-25">
    </header>
    
</body>
</html>